<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Tarefa</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Editar Tarefa</h1>
        </header>
        <form method="POST">
            {% csrf_token %}

            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" value="{{ tarefa.tar_descricao }}" required><br>

            <label for="setor">Setor:</label>
            <input type="text" id="setor" name="setor" value="{{ tarefa.tar_setor }}" required><br>

            <label for="prioridade">Prioridade:</label>
            <select id="prioridade" name="prioridade" required>
                <option value="Baixa" {% if tarefa.tar_prioridade == 'Baixa' %}selected{% endif %}>Baixa</option>
                <option value="Média" {% if tarefa.tar_prioridade == 'Média' %}selected{% endif %}>Média</option>
                <option value="Alta" {% if tarefa.tar_prioridade == 'Alta' %}selected{% endif %}>Alta</option>
            </select><br>

            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="Pendente" {% if tarefa.tar_status == 'Pendente' %}selected{% endif %}>Pendente</option>
                <option value="Em andamento" {% if tarefa.tar_status == 'Em andamento' %}selected{% endif %}>Em andamento</option>
                <option value="Concluída" {% if tarefa.tar_status == 'Concluída' %}selected{% endif %}>Concluída</option>
            </select><br>

            <label for="data">Data de Conclusão:</label>
            <input type="date" id="data" name="data" value="{{ tarefa.tar_data }}" required><br>

            <button type="submit">Salvar Alterações</button>
        </form>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'listar_tarefas' %}" class="button">Voltar para a Lista de Tarefas</a></li>
        </ul>
    </nav>
</body>
</html>
