<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Tarefa</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Cadastro de Tarefa</h1>
        </header>
        <form method="POST">
            {% csrf_token %}
            <label for="descricao">Descrição:</label>
            <input type="text" id="descricao" name="descricao" required><br>

            <label for="setor">Setor:</label>
            <input type="text" id="setor" name="setor" required><br>

            <label for="prioridade">Prioridade:</label>
            <select id="prioridade" name="prioridade" required>
                <option value="Baixa">Baixa</option>
                <option value="Média">Média</option>
                <option value="Alta">Alta</option>
            </select><br>

            <label for="status">Status:</label>
            <select id="status" name="status" required>
                <option value="Pendente">Pendente</option>
                <option value="Em andamento">Em andamento</option>
                <option value="Concluída">Concluída</option>
            </select><br>

            <label for="data">Data de Conclusão:</label>
            <input type="date" id="data" name="data" required><br>

            <label for="usuario">Usuário Responsável:</label>
            <select id="usuario" name="usuario" required>
                {% for usuario in usuarios %}
                    <option value="{{ usuario.usu_codigo }}">{{ usuario.usu_nome }}</option>
                {% endfor %}
            </select><br>

            <button type="submit">Cadastrar Tarefa</button>
        </form>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'listar_tarefas' %}" class="button">Voltar para a Lista de Tarefas</a></li>
        </ul>
    </nav>
</body>
</html>
