<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Usuários</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Lista de Usuários</h1>
        </header>
        <table>
            <tr>
                <th>Código</th>
                <th>Nome</th>
                <th>Email</th>
                <th>Ações</th> <!-- Nova coluna para Ações -->
            </tr>
            {% for usuario in usuarios %}
            <tr>
                <td>{{ usuario.usu_codigo }}</td>
                <td>{{ usuario.usu_nome }}</td>
                <td>{{ usuario.usu_email }}</td>
                <td>
                    <a href="{% url 'edita_usuarios' usuario.usu_codigo %}" class="button">Editar</a>
                    <a href="{% url 'exclui_usuarios' usuario.usu_codigo %}" class="button" onclick="return confirm('Tem certeza que deseja excluir este usuário?')">Excluir</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'cadastro_usuarios' %}" class="button">Cadastrar Usuário</a></li>
        </ul>
    </nav>
</body>
</html>
